<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - АС "Дефектоскопия"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <script>
        var months = new Array(13);
        months[1] = "января"; months[2] = "февраля"; months[3] = "марта"; months[4] = "апреля"; months[5] = "мая"; months[6] = "июня"; months[7] = "июля"; months[8] = "августа"; months[9] = "сентября"; months[10] = "октября"; months[11] = "ноября"; months[12] = "декабря";

        var time = new Date();
        var thismonth = months[time.getMonth() + 1];
        var date = time.getDate();
        var thisyear = time.getYear();
        var day = time.getDay() + 1;

        if (thisyear < 2000)
            thisyear = thisyear + 1900;
        if (day == 1) DayofWeek = "Воскресенье";
        if (day == 2) DayofWeek = "Понедельник";
        if (day == 3) DayofWeek = "Вторник";
        if (day == 4) DayofWeek = "Среда";
        if (day == 5) DayofWeek = "Четверг";
        if (day == 6) DayofWeek = "Пятница";
        if (day == 7) DayofWeek = "Суббота";
    </script>

    <script>
        setInterval(function () {
            var cd = new Date();
            var clockdat = document.getElementById("clockdat");
            clockdat.innerHTML = cd.toLocaleTimeString();
        }, 1000);
    </script>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
               
                
                <div class="container">

                    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated == false)
                    {
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">АС "Дефектоскопия" 
                    <div style="background-color: #3b424a; padding:5px;">
                            <span style="color: aqua; font-size: 14px;">Сегодня:</span>
                            <span style="color:silver; font-size:14px;">
                                <script>
                                    document.write(date + " ");
                                    document.write(thismonth + " " + thisyear + " " + "года" + " — " + DayofWeek);
                                </script>
                                (<span id="clockdat" style="color: aqua; font-size: 14px;"></span>)
                            </span>
                        </div>
                    </a>
                    }
                    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated == true)
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">АС "Дефектоскопия"
                    <div style="background-color: #3b424a; padding:5px;">
                            <span style="color: aqua; font-size: 14px;">Сегодня:</span>
                            <span style="color:silver; font-size:14px;">
                                <script>
                                    document.write(date + " ");
                                    document.write(thismonth + " " + thisyear + " " + "года" + " — " + DayofWeek);
                                </script>
                                (<span id="clockdat" style="color: aqua; font-size: 14px;"></span>)
                             </span>
                        </div>
                    </a>
                    }

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                        @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li>
                                    <div class="form-group">
                                        <div id="userEmail">
                                            Вы авторизовались как @Html.ViewContext.HttpContext.User.Identity.Name
                                        </div>
                                        <a class="btn btn-outline-dark" id="logout" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                                    </div>

                                </li>
                            </ul>
                        }

                    </div>
                </div>
            </nav>
        </header>


        @if (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated)
        {
            <div id="main-menu-window">
                <div class="logotype_m">
                    <ul class="test_menu">
                        <li>
                            @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                            {
                                <a>Администрирование</a>
                                <ul>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">Аккаунты</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Организации</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="GlobalSection" asp-action="Index">Участки/Направления</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="LocalSection" asp-action="Index">Перегоны</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Defect" asp-action="Index">Дефекты</a>
                                    </li>
                                </ul>
                            }

                        </li>

                        @if (!ViewContext.HttpContext.User.IsInRole("newUser"))
                        {
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="File" asp-action="Index">Нормативная документация</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="Defect" asp-action="Index">Журнал ф. ПУ-2а</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="DangerousDefect" asp-action="Index">Журнал ф. ПУ-2б</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="Operator" asp-action="Index">Операторы</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="Defectoscope" asp-action="Index">Парк дефектоскопов</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Contacts">Контакты</a>
                            </li>
                        }
                    </ul>
                    <div class="logotype_p">
                        <div class="logotype">
                            <img id="logotype" src="~/images/logo.gif" alt="it must be a logotype" />
                        </div>
                    </div>

                </div>
                <div id="submenu-area">
                    <div class="container">
                        <main role="main" class="pb-1">

                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        }

        <main role="main" class="pb-1">

            @RenderBody()
        </main>

        <footer class="border-top text-muted">
            <div class="container__footer">
                &copy; 2021 - Дорожная лаборатория дефектоскопии
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>