<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - АС "Дефектоскопия"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/css/MySite.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
                <div class="container">

                    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated == false)
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">АС "Дефектоскопия"</a>
                    }
                    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated == true)
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">АС "Дефектоскопия"</a>
                    }

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                        @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                        {
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <div class="form-group">
                                <div id="userEmail">
                                    Вы вошли как - @Html.ViewContext.HttpContext.User.Identity.Name

                                </div>
                                <a class="btn btn-outline-dark" id="logout" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                            </div>

                        </li>
                    </ul>}

                       

                    </div>
                </div>
            </nav>
        </header>


        @if (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated)
        {
            <div id="main-menu-window">
                <div class="logotype_m">
                    <ul class="test_menu">
                        <li>
                            @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                            {
                                <a>Администрирование</a>
                                <ul>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">Аккаунты</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Организации</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="GlobalSection" asp-action="Index">Участки/Направления</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="LocalSection" asp-action="Index">Перегоны</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Defect" asp-action="Index">Дефекты</a>
                                    </li>
                                </ul>
                            }

                        </li>
                        <li>
                            @if (ViewContext.HttpContext.User.IsInRole("Administrator") || ViewContext.HttpContext.User.IsInRole("DiagnosticEmploye"))
                            {
                                <a>
                                    Центр диагностики
                                    <p>
                                        объектов инфраструктуры
                                    </p>
                                </a>
                                <ul>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">Дорожная лаборатория дефектоскопии</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Вагоны-дефектоскопы</a>
                                    </li>
                                </ul>
                            }

                        </li>
                        <li>
                            @if (ViewContext.HttpContext.User.IsInRole("Administrator") || ViewContext.HttpContext.User.IsInRole("DiagnosticEmploye") || ViewContext.HttpContext.User.IsInRole("AdministrationSupervisor"))
                            {
                                <a>Отделения БелЖД</a>
                                <ul>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">Все отделения</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Минское отделение БелЖД</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Барановичское отделение БелЖД</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Брестское отделение БелЖД</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Гомельское отделение БелЖД</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Могилёвское отделение БелЖД</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Витебское отделение БелЖД</a>
                                    </li>
                                </ul>
                            }
                        </li>
                    </ul>
                    <div class="logotype_p">
                        <div class="logotype">
                            <img id="logotype" src="~/images/logo.gif" alt="it must be a logotype" />
                        </div>
                    </div>
                   
                </div>
                <div id="submenu-area">
                    <div class="container">
                        <main role="main" class="pb-1">

                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        }

        @*<div class="container">*@
            <main role="main" class="pb-1">

                @RenderBody()
            </main>
        @*</div>*@
        <footer class="border-top text-muted">
            <div class="container__footer">
                &copy; 2021 - Дорожная лаборатория дефектоскопии
            </div>
        </footer>
    </div>
        @*Modals*@

<div class="modal fade" id="manageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center-modal">
                    <div class="form-group">
                        <p id="p1">Меню</p>

                        <div>
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">Аккаунты</a>
                        </div>

                        <div>
                            <a class="nav-link text-white" asp-area="" asp-controller="Organisation" asp-action="Index">Организации</a>
                        </div>

                        <div>
                            <a class="nav-link text-white" asp-area="" asp-controller="GlobalSection" asp-action="Index">Направления</a>
                        </div>

                        <div>
                            <a class="nav-link text-white" asp-area="" asp-controller="LocalSection" asp-action="Index">Перегоны</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    



        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/chosen/chosen.jquery.js"></script>
        <script src="~/lib/select2/js/select2.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>

