
@using WebTestOfVMC.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EnumExt;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using CommonClasses.PaginationAndSort.IndexViewModelClasses
@using RailDBProject.Model;
@using CommonClasses.PaginationAndSort.Filters

@model DangerousDefectIndexViewModel

<div class="headerOfTable">
    <div><p class="filter-text">Остродефектные рельсы</p></div>
    <div class="excel-div"><img class="excel" src="~/images/exportToExcel.png" /></div>
</div>
<br />


<div class="table">

    <div id="manipulation-buttons">
        <div class="create-button button__style">
            @await Component.InvokeAsync("DangerousDefectInfo")
        </div>
        <div class="edit-button button__style">
            <input type="submit" class="btn btn-outline-dark" value="Редактировать" id="edit-btn" />
        </div>
        <div class="delete-button button__style">
            <input type="submit" class="btn btn-outline-dark" value="Удалить" id="delete-btn" />
        </div>
        <div class="filters">
            <form method="get">
                <div class="form-inline">

                    <p1 class="p1">Организация: </p1>
                    <select name="organisation" asp-items="Model.OrganisationFilter.Organisations" class="form-control"></select>

                    <p1 class="p1">Направление: </p1>
                    <select name="glSection" asp-items="Model.GlobalSectionFilter.GlobalSections" class="form-control"></select>

                    <p1 class="p1">Перегон: </p1>
                    <select name="lcSection" asp-items="Model.LocalSectionFilter.LocalSections" class="form-control"></select>

                    <p1 class="p1">Код дефекта: </p1>
                    <select name="defect" asp-items="Model.DangerousDefectFilter.DangerousDefects" class="form-control"></select>

                    <input type="submit" value="Применить фильтр" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>

    </div>

    <table class="table">
        <tr class="p1 intable">
            <th class="size-th">
                <p class="p1 th_size">№ п/п</p>
            </th>
            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.DateOfDetectionSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Дата обнаружения </p><img src="~/images/sort.png" id="sort" /></div></a>

            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.LocalSectionNameSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Перегон </p><img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.LocalSectionWaySort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">№ пути </p><img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.KilometerSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Километр </p><img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.PktSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Пикет </p><img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.PathSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Звено </p><img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.WaySideSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Нить </p><img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.ManufactureSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Производитель </p><img src="~/images/sort.png" id="sort" /></div></a>

            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.ManufactureYearSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Год прокатки </p><img src="~/images/sort.png" id="sort" /></div></a>

            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.DangerousDefectCodeSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Код дефекта </p><img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.DangerousDefectDepthSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Глубина залегания (H) </p><img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.DangerousDefectLenghtSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Протяженность (L)</p> <img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.DangerousDefectAverageDepthSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Условная высота (H усл.) </p><img src="~/images/sort.png" id="sort" /></div></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="Defect"
                   asp-route-sortOrder="@(Model.DangerousDefectSortViewModel.DangerousDefectAverageLenghtSort)"
                   asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
                   asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"><div class="icon_th"><p class="p1 th_size">Протяженность (L усл.)</p> <img src="~/images/sort.png" id="sort" /></div></a>
            </th>

        </tr>

        @{ int rowNo = 0; }
        @foreach (DangerousDefect d in Model.DangerousDefects)
        {
            <tr class="table-row" id="@d.DangerousDefectId">
                <td>@(rowNo += 1)</td>
                <td>@d.DateOfDetection.ToShortDateString()</td>
                <td>@d.LocalSection.LocalSectionName</td>
                <td>@d.LocalSection.LocalWayNumber</td>
                <td>@d.Kilometer</td>
                <td>@d.Pkt</td>
                <td>@d.Path</td>
                <td>@d.WaySide.GetEnumDescription()</td>
                <td>@d.Manufacture.GetEnumDescription()</td>
                <td>@d.ManufactureYear</td>
                <td>@d.DangerousDefectCode.GetEnumDescription()</td>
                <td>@d.DangerousDefectDepth</td>
                <td>@d.DangerousDefectLenght</td>
                <td>@d.DangerousDefectAverageDepth</td>
                <td> @d.DangerousDefectAverageLenght</td>

            </tr>
        }

    </table>
</div>

@if (Model.PageView.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageView.PageNumber - 1)"
       asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
       asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"
       asp-route-sortorder="@(Model.DangerousDefectSortViewModel.Current)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageView.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageView.PageNumber + 1)"
       asp-route-name="@(Model.DangerousDefectFilter.SelectedName)"
       asp-route-company="@(Model.DangerousDefectFilter.SelectedDangerousDefect)"
       asp-route-sortorder="@(Model.DangerousDefectSortViewModel.Current)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

<form asp-action="UpdateDangerousDefect" asp-controller="DangerousDefect" asp-route-id="id" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="onUpdate">

    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center-modal">
                        <div class="form-group">
                            <p id="p1">Редактирование</p>

                            <div id="defectDiv"></div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-outline-dark" value="Сохранить изменения" id="sub" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{

    <script>

        function onSuccess(data) {
            $(document).on("ajaxSuccess", function () {

                    alert(data.emailMessage);
                    window.location = data.url;
            });
        }

        function onUpdate(data) {
            $(document).on("ajaxSuccess", function () {

                alert(data.emailMessage);
                window.location = data.url;
            });
        }

        var clicked = false;
        var element = null;

        var defectDiv = $("#defectDiv");
        var selectDiv = $("#selectDiv");

        $(document).ready(function () {
            $(".multidropdown").select2();
            $(".edit-button").hide();
            $(".delete-button").hide();


            var txt = $('.dropDownId :selected').text();

                $.ajax({
                    url: "@Url.Action("GetLocalFromGlobal","DangerousDefect")",
                    type: "post",
                    cache: false,
                    data: { 'name': txt },
                    success: function (data) {
                        selectDiv.html(data);
                    },
                });

            $(".table-row").click(function () {

                if (!clicked)
                {
                    element = $(this).attr("id");
                    $(this).css({ 'backgroundColor': '#fff', 'color': '#000' });
                    clicked = true;
                    $(".edit-button").show();
                    $(".delete-button").show();
                }
                else
                {
                    if ($(this).attr("id") == element) {
                        $(this).css({ 'backgroundColor': '', 'color': '' });
                        clicked = false;
                        $(".edit-button").hide();
                        $(".delete-button").hide();
                    }
                    $(".table-row").click(function () { return false });

                    if ($(this).attr("id") != element) {
                        alert("Для выбора новой записи разактивируйте ранее выбранную!")
                    }
                };
            });


            $(".globalSect").change(function () {
                var txt = $('.dropDownId :selected').text();
                alert(txt);

                $.ajax({
                    url: "@Url.Action("GetLocalFromGlobal","dangerousDefect")",
                    type: "post",
                    cache: false,
                    data: { 'name': txt },
                    success: function (data) {
                        selectDiv.html(data);
                    },
                });
            });

            $("#delete-btn").click(function () {
                $.ajax({
                    url: "@Url.Action("DeleteDangerousDefect","DangerousDefect")",
                    type: "POST",
                    dataType: "html",
                    data: { id: element },
                    success: function (data) {
                        alert("Удаление прошло успешно!")
                        window.location.reload();
                    }
                });
            });

            $("#edit-btn").click(function ()
            {
                $.ajax({
                        url: "@Url.Action("GetOne", "DangerousDefect")",
                        type: "GET",
                        dataType: "html",
                        data: { id: element },
                    success: function (data) {
                        defectDiv.html(data);

                        $("#updateModal").modal("show");
                    }
                });
            });

            $(".excel").click(function ()
            {
                window.location.href =  "@Url.Action("Export", "DangerousDefect")"
            });
        });

    </script>
}