
@using WebTestOfVMC.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EnumExt;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using CommonClasses.PaginationAndSort.IndexViewModelClasses
@using RailDBProject.Model;
@using CommonClasses.PaginationAndSort.Filters

@model UserIndexViewModel

<div class="headerOfTable">
    <div><p class="filter-text">Список Контактов</p></div>
    <div class="excel-div"><img class="excel" src="~/images/exportToExcel.png" /></div>
</div>

<div class="table">
    <div id="manipulation-buttons">
        <div class="filters">
            <form method="get">
                <div class="form-inline">

                    <p1 class="p1">Организация: </p1>
                    <select name="company" asp-items="Model.OrganisationFilter.Organisations" class="form-control"></select>

                    <input type="submit" value="Применить фильтр" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
    </div>
        <table class="table">
            <tr class="p1 intable">
                <th class="size-th">
                    <p class="p1">№ п/п</p>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="User"
                       asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Фамилия</p></a>

                </th>

                <th>
                    <a asp-action="Index"
                       asp-controller="User"
                       asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Имя</p></a>
                </th>

                <th>
                    <a asp-action="Index"
                       asp-controller="User"
                       asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Отчество</p></a>
                </th>

                <th>
                    <a asp-action="Index"
                       asp-controller="User"
                       asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Телефон</p></a>
                </th>

                <th>
                    <a asp-action="Index"
                       asp-controller="User"
                       asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Организация</p></a>
                </th>

                <th>
                    <a asp-action="Index"
                       asp-controller="User"
                       asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">E-mail</p></a>
                </th>
            </tr>

            @{ int rowNo = 0; }
            @foreach (User u in Model.Users)
            {
                <tr class="table-row" id="@u.UserId">
            <td>@(rowNo += 1)</td>
            <td>@u.LastName</td>
            <td>@u.FirstName</td>
            <td>@u.SurName</td>
            <td>@u.PhoneNumber</td>
            <td>@u.Organisation.OrgName</td>
            <td>@u.Email</td>
                    </tr>}
        </table>
    </div>

    @if (Model.PageView.HasPreviousPage)
    {
<a asp-action="Index"
   asp-route-page="@(Model.PageView.PageNumber - 1)"
   asp-route-name="@(Model.OrganisationFilter.SelectedName)"
   asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"
   asp-route-sortorder="@(Model.UserSortViewModel.Current)"
   class="btn  btn-outline-dark">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Назад
</a>}
    @if (Model.PageView.HasNextPage)
    {
<a asp-action="Index"
   asp-route-page="@(Model.PageView.PageNumber + 1)"
   asp-route-name="@(Model.OrganisationFilter.SelectedName)"
   asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"
   asp-route-sortorder="@(Model.UserSortViewModel.Current)"
   class="btn btn-outline-dark">
    Вперед
    <i class="glyphicon glyphicon-chevron-right"></i>
</a> } 


    @section Scripts{

        <script>
            $(".excel").click(function ()
            {
                window.location.href = "@Url.Action("Export", "User")"
                
            });
        </script>
    }
