
@using WebTestOfVMC.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EnumExt;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using CommonClasses.PaginationAndSort.IndexViewModelClasses
@using RailDBProject.Model;
@using CommonClasses.PaginationAndSort.Filters

@model UserIndexViewModel

<div class="headerOfTable">
    <div><p class="filter-text">Пользователи</p></div>
    <div class="excel-div"><img class="excel" src="~/images/exportToExcel.png" /></div>
</div>


<div class="table">

    <div id="manipulation-buttons">
        <div class="create-button button__style">
            @await Component.InvokeAsync("UserInfo")
        </div>
        <div class="edit-button button__style">
            <input type="submit" class="btn btn-outline-dark" value="Редактировать" id="edit-btn" />
        </div>
        <div class="delete-button button__style">
            <input type="submit" class="btn btn-outline-dark" value="Удалить" id="delete-btn" />
        </div>
        <div class="edit-button button__style">
            <input type="submit" class="btn btn-outline-dark" value="Досье" id="exportOne" />
        </div>
        <div class="filters">
            <form method="get">
                <div class="form-inline">

                    <p1 class="p1">Организация: </p1>
                    <select name="company" asp-items="Model.OrganisationFilter.Organisations" class="form-control"></select>

                    <input type="submit" value="Применить фильтр" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <tr class="p1 intable">
            <th class="size-th">
                <p class="p1">№ п/п</p>
            </th>
            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.UserSortViewModel.LastNameSort)"
                   asp-route-name="@(Model.OrganisationFilter.SelectedName)"
                   asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Фамилия <img src="~/images/sort.png" id="sort" /></p></a>

            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.UserSortViewModel.FirstNameSort)"
                   asp-route-name="@(Model.OrganisationFilter.SelectedName)"
                   asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Имя <img src="~/images/sort.png" id="sort" /></p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.UserSortViewModel.MiddleNameSort)"
                   asp-route-name="@(Model.OrganisationFilter.SelectedName)"
                   asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Отчество <img src="~/images/sort.png" id="sort" /></p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.UserSortViewModel.PhoneNumberSort)"
                   asp-route-name="@(Model.OrganisationFilter.SelectedName)"
                   asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Телефон <img src="~/images/sort.png" id="sort" /></p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.UserSortViewModel.OrganisationSort)"
                   asp-route-name="@(Model.OrganisationFilter.SelectedName)"
                   asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Организация <img src="~/images/sort.png" id="sort" /></p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.UserSortViewModel.EmailSort)"
                   asp-route-name="@(Model.OrganisationFilter.SelectedName)"
                   asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">E-mail <img src="~/images/sort.png" id="sort" /></p></a>
            </th>

            <th>
                <p class="p1">№ Пароль</p>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.UserSortViewModel.UserRoleSort)"
                   asp-route-name="@(Model.OrganisationFilter.SelectedName)"
                   asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"><p class="p1">Группа <img src="~/images/sort.png" id="sort" /></p></a>
            </th>


        </tr>

        @{ int rowNo = 0; }
        @foreach (User u in Model.Users)
        {
    <tr class="table-row" id="@u.UserId">
        <td>@(rowNo += 1)</td>
        <td>@u.LastName</td>
        <td>@u.FirstName</td>
        <td>@u.SurName</td>
        <td>@u.PhoneNumber</td>
        <td>@u.Organisation.OrgName</td>
        <td>@u.Email</td>
        <td>@u.Password</td>
        <td>@u.UserRole.GetEnumDescription()</td>
    </tr>
        }

    </table>
</div>

@if (Model.PageView.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageView.PageNumber - 1)"
       asp-route-name="@(Model.OrganisationFilter.SelectedName)"
       asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"
       asp-route-sortorder="@(Model.UserSortViewModel.Current)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageView.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageView.PageNumber + 1)"
       asp-route-name="@(Model.OrganisationFilter.SelectedName)"
       asp-route-company="@(Model.OrganisationFilter.SelectedOrganisation)"
       asp-route-sortorder="@(Model.UserSortViewModel.Current)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

 @*Модальное окно*@

<form asp-action="UpdateUser" asp-controller="User" asp-route-id="id" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="onUpdate">

    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center-modal">
                        <div class="form-group">
                            <p id="p1">Редактирование</p>

                            <div id="userDiv"></div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-outline-dark" value="Сохранить изменения" id="sub" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{

    <script>

        function onSuccess(data) {
            $(document).on("ajaxSuccess", function () {

                    alert(data.newData.emailMessage);
                    window.location = data.newData.urladmin;
            });
        }

        function onUpdate(data) {
            $(document).on("ajaxSuccess", function () {

                alert(data.newData.emailMessage);
                window.location = data.newData.url;
            });
        }

        var clicked = false;
        var element = null;
        var userDiv = $("#userDiv");

        $(document).ready(function () {
            $(".multidropdown").select2();
            $(".edit-button").hide();
            $(".delete-button").hide();

            $(".table-row").click(function () {

                if (!clicked)
                {
                    element = $(this).attr("id");
                    $(this).css({ 'backgroundColor': '#fff', 'color': '#000' });
                    clicked = true;
                    $(".edit-button").show();
                    $(".delete-button").show();
                }
                else
                {
                    if ($(this).attr("id") == element) {
                        $(this).css({ 'backgroundColor': '', 'color': '' });
                        clicked = false;
                        $(".edit-button").hide();
                        $(".delete-button").hide();
                    }
                    $(".table-row").click(function () { return false });


                    if ($(this).attr("id") != element) {
                        alert("Для выбора новой записи разактивируйте ранее выбранную!")
                    }



                };
            });

            $("#delete-btn").click(function () {
                $.ajax({
                    url: "@Url.Action("DeleteUser","User")",
                    type: "POST",
                    dataType: "html",
                    data: { id: element },
                    success: function (data) {
                        alert("Удаление прошло успешно!")
                        window.location.reload();
                    }
                });
            });

            $("#edit-btn").click(function ()
            {
                $.ajax({
                        url: "@Url.Action("GetOne", "User")",
                        type: "GET",
                        dataType: "html",
                        data: { id: element },
                    success: function (data) {
                        userDiv.html(data);

                        $("#updateModal").modal("show");
                    }
                });
            });

            $(".excel").click(function ()
            {
                window.location.href =  "@Url.Action("Export", "User")"
            });

             $("#exportOne").click(function ()
             {
               $.ajax({
                        url: "@Url.Action("GetOne", "User")",
                        type: "GET",
                        dataType: "html",
                        data: { id: element },
                    success: function (data) {
                        window.location.href = "@Url.Action("GetOneUser", "User")"
                    }
               });

            });

        });

    </script>
}